<!-- @format -->
<div
  style="
    background-color: rgb(60, 182, 182);
    height: 30px;
    padding: 5px;
    border-radius: 2px solid;
  "
>
  <ul style="float: right; padding-right: 10px">
    <a style="padding-right: 300px; color: black" href="/">Home</a>
    <a style="padding-right: 300px; color: black" href="/products">Products</a>
    <a style="padding-right: 300px; color: black" href="/cart">Cart</a>
  </ul>
</div>
